## KNN - Euclidean distance

In [87]:
from sklearn import datasets
import numpy as np
import pandas as pd
from math import sqrt

In [97]:
# calculate the Euclidean distance between two vectors
def euclidean_distance(row1, row2):
    distance = 0.0
    # peut etre des distances a plusieur dimension
    for i in range(len(row1)-1):
        distance += (row1[i] - row2[i])**2
    return sqrt(distance)

In [84]:
# Locate the most similar neighbors
def get_neighbors(train, test_row, k):
    distances = list()
    for train_row in train:
        # distance du point a tout les autres points du dataset
        dist = euclidean_distance(test_row, train_row)
        # on stock la ligne et la distance du point a tester
        distances.append((train_row, dist))
    # on les ordonnes par distance décroissante
    distances.sort(key=lambda dist: dist[1])
    neighbors = list()
    # en prenant les k premier valeurs de distance, 
    # on récuperer donc les k plus proche voisin
    for i in range(k):
        neighbors.append(distances[i][0])
    return neighbors

In [242]:
iris = datasets.load_iris()
df_data = pd.DataFrame(iris.data, columns=iris.feature_names)
df_target = pd.DataFrame(iris.target, columns=["target_names"])
data = pd.concat([df_data, df_target], axis=1, sort=False)
data.head(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target_names
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [240]:
data.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target_names
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [248]:
# obtenir les 3 voisins les plus proche

#neighbors = get_neighbors(data.drop(data.index[0]).values, data.iloc[0].values, 3)
#predicted class :  0
#Name of the classe : setosa
    
#neighbors = get_neighbors(data.values, [5.843333,3.057333,3.758000,1.199333], 3)
#predicted class :  1
#Name of the classe : versicolor
    
neighbors = get_neighbors(data.values, [7.900000,4.400000,6.900000,2.500000], 3)
#predicted class :  2
#Name of the classe : virginica

# faire un vote sur les 3 voisins pour prédire la classe
df = pd.DataFrame(neighbors, columns = iris.feature_names + ["target_classe"])
predicted_class = int(df.target_classe.mode().head(1)[0])
print("predicted class : ",predicted_class)
print("Name of the classe : "+iris.target_names[predicted_class])

predicted class :  2
Name of the classe : virginica